:root {
    --buttonRounding: 5px;
    background-color: lightslategray;
}

.fa-solid.rotate45,
.fa-regular.rotate45 {
    transform: rotate(45deg);
}

.errorPane {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 1vw;
    width: 20%;
    z-index: 120;

    height: 60%;

    pointer-events: none;
}

.errorPane .error {
    font-size: xx-large;
    background-color: gray;
    padding: 1vw;
    width: 100%;

    box-shadow: 3px 3px 7px black;
    position: relative;

    border-radius: 5px;
    margin-top:1vh;
    margin-bottom:1vh;

    display: flex;
    align-items:center;
}

.errorPane .error button {
    position: relative;

    font-size: xx-large;
    background-color: lightgray;
    border: none;
}

.errorStrip {
    position: absolute;
    left: 0px;
    background-color: orangered;
    top: 0px;
    height: 100%;
    padding-right: 1%;
}

/****

FILE INPUT PART

****/

.fileScreen {
    background-color: darkslategray;
    color: white;
    
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;
}

.inputs {
    font-family: sans-serif;

    position: absolute;

    background-color: rgba(0,0,0,0.5);

    width: 50%;
    height: 50%;

    top: 50%;
    right: 50%;

    transform: translate(50%, -50%);

    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column
}

.inputs > strong {
    font-size: xx-large;
}

.inputs > button, input {
    flex-grow: 0;
}

.inputs > button {
    font-size: xx-large;
    padding: 1vh;
}

.inputs > input[type="file"] {
    appearance: none;

    font-size: x-large;

    position: relative;
    left:0.55ch;
    width: 10%;
    color: transparent;
}

.inputs.hovered {
    background-color: rgba(255,255,255,0.3);
}

.inputs.error {
    background-color: rgba(255,0,0,0.6);
}

/****

CAR COUNTER PART

****/

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

button.new {
    flex: 1;
    flex-grow: 1;
    order: 5;
    border-radius: var(--buttonRounding);
    box-shadow: 2px 2px 3px black;

    font-size: x-large;

    max-width:25%;
}

.card {
    position: relative;
    flex: 2;
    margin: 0.2vw;

    padding: 0.5vw;
    border-radius: 5px;

    flex-grow: 2;

    background-color: grey;

    font-size:x-large;

    box-shadow: 1px 1px 3px black;

    max-width:25%;
}

@media screen and (min-width:2280px) {
    .card {
        max-width: 22%;
    }

    button.new {
        max-width: 23%;
    }
}

.card > .name {
    z-index: 1;
    position: relative;
    font-size: xx-large;
}

.card > .color {
    width: 5%;
    top: 0px;
    left: 0px;
    position: absolute;

    z-index: 0;

    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);

    border-top-left-radius: 5px;
}

.cardButtons {
    display: flex;
    justify-content: center;
}

.cardButtons > button, input {
    font-size: larger;
    text-align: center;

    padding-top: 1vh;
    padding-bottom: 1vh;

    min-width:10%;

    border-style: none;
}

.cardButtons > .copy, .edit, .delete {
    border-radius: var(--buttonRounding);
    margin-left: 1vw;
}

.cardButtons > .delete {
    background-color: rgb(170, 28, 28);
    color: white;
}
.cardButtons > .delete:hover {
    background-color: rgb(211, 17, 17);
}

.cardButtons > .minus {
    border-top-left-radius: var(--buttonRounding);
    border-bottom-left-radius: var(--buttonRounding);
}

.cardButtons > .plus {
    border-top-right-radius: var(--buttonRounding);
    border-bottom-right-radius: var(--buttonRounding);
}

/****

NEW CAR FORM

****/

.editFormContainer {
    display: none;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    z-index: 3;
}

.editForm {
    background-color: slategray;
    width:40%;
    height:40%;
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    align-content:center;
    justify-content:center;
    display:flex;
    flex-direction: column;
    padding:5%;
    font-size: x-large;
}

.editForm > fieldset {
    border: none;
    display: flex;
    align-items: center;
}

.editForm .preview {
    padding: 1.8%;
    width:0px;
    height:0px;
    display:inline-block;
    border-radius:148px;
    margin-left:1%
}

.editForm button {
    font-size: larger;
}

.editForm label {
    font-size: xx-large;
}


/****

DELETION

****/
.deleteWarningContainer {
    background-color: rgba(0,0,0,0.7);

    position: fixed;
    left: 0px;
    top: 0px;
    
    width: 100%;
    height: 100%;

    display: none;
    z-index: 3;
}

.deleteWarning {
    background-color: maroon;

    color: white;

    width: 40%;
    height: 40%;
    padding: 5%;

    position: relative;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    font-size: xx-large;
    font-family:sans-serif;

    display: flex;
    flex-direction: column;
}

.deleteWarning button {
    font-size: x-large;
}

/****

HEADER & ITS PARTS

****/

header {
    display: none;
    background-color: darkgray;
    width: calc(100% - 1vh);
    position: sticky;
    top: 0px;
    left: 0px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;

    z-index: 2;
}

#countMessage {
    position: absolute;
    right: 1%;
    top: 50%;
    font-family: sans-serif;

    transform: translateY(-50%);

    font-size: xx-large;
}

.save {
    border-radius: var(--buttonRounding);
    font-size: xx-large;
    background-color:powderblue;
    padding: 0.5vw;
}

.saveContainer {
    background-color: rgba(0,0,0,0.5);

    display: none;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0px;
    left: 0px;
    
    z-index: 3;
}

.saveBox {
    background-color: lightslategray;

    width: 50%;
    height: 50%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    position: relative;

    font-size: xxx-large;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.saveBox a {
    color: black;
}

.saveBox button {
    font-size: xx-large;
}
